<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Message Boards</title>
</head>
<body>
    <h1>All Message Boards</h1>

    <ul>
        <% for(let m of messageBoards) { %>
            <a href="../messageBoards/<%=m._id%>"><li><%= m.name %></li></a>
        <% } %>         
    </ul>

    <a href="/messageBoards/new">Create new Message Board...</a>
</body>
</html>