    <%layout('layouts/boilerplate')%> 
    <h1>All Message Boards</h1>

    <ul>
        <% for(let m of messageBoards) { %>
            <a href="../messageBoards/<%=m._id%>"><li><%= m.name %></li></a>
        <% } %>         
    </ul>

    <a href="/messageBoards/new">Create new Message Board...</a>
