    <%layout('layouts/boilerplate')%> 
    <h1>All Message Boards</h1>

    <ul>
        <% for(let m of messageBoards) { %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <a href="../messageBoards/<%=m._id%>"><li><%= m.name %></li></a>
                </div>
            </div>
        </div>
        <% } %>         
    </ul>

    <a href="/messageBoards/new">Create new Message Board...</a>
