<%layout('layouts/boilerplate')%> 
<h1>Create New Message Board</h1>
<form action="/messageBoards" method="POST">
    <label for="name">Name of Group Chat</label>
    <input type="text" name="name" id="name" placeholder="Name...">

    <button>Submit</button>
</form>
<a href="#">All Users</a>