<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Message Board</title>
</head>
<body>
    <h1>Create New Message Board</h1>
    <form action="/messageBoards" method="POST">
        <label for="name">Name of Group Chat</label>
        <input type="text" name="name" id="name" placeholder="Name...">

        <button>Submit</button>
    </form>
    <a href="#">All Users</a>
</body>
</html>