<%layout('layouts/boilerplate')%> 
<h1>Showing <%= messageBoard.name %></h1>

<ul>
    <li>Name: <%= messageBoard.name%></li>
</ul>

<form action="/messageBoards/<%=messageBoard._id%>?_method=DELETE" method="POST">
    <button>Delete</button>
</form>

<a href="/messageBoards">Show All Message Boards</a>
<a href="/messageBoards/<%=messageBoard._id%>/edit">Edit</a>