<%layout('layouts/boilerplate')%> 
<form action="/users/<%= user._id %>?_method=PUT" method="POST">
    <label for="firstName">User's First Name</label>
    <input type="text" name="user[firstName]" id="firstName" placeholder="First name..." value="<%=user.firstName%>">

    <label for="lastName">User's Last Name</label>
    <input type="text" name="user[lastName]" id="lastName" placeholder="Last name..." value="<%=user.lastName%>">

    <label for="username">User's Username</label>
    <input type="text" name="user[username]" id="username" placeholder="Username..." value="<%=user.username%>">

    <button>Submit</button>
</form>
<a href="/users">All Users</a>