<%layout('layouts/boilerplate')%> 
<h1>All Users</h1>

<ul>
    <% for(let u of users) { %>
        <a href="../users/<%=u._id%>"><li><%= u.username %></li></a>
    <% } %>         
</ul>

<a href="/users/new">Create new user...</a>