<%layout('layouts/boilerplate')%> 
<div class="row">
    <h1 class="text-center">New User</h1>
    <div class="col-6 offset-3">
        <form action="/users" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="firstName">User's First Name</label>
                <input class="form-control" type="text" name="firstName" id="firstName" placeholder="First name..." required>
            </div>
        
            <div class="mb-3">
                <label class="form-label" for="lastName">User's Last Name</label>
                <input class="form-control" type="text" name="lastName" id="lastName" placeholder="Last name..." required>
            </div>
        
            <div class="mb-3">
                <label class="form-label" for="username">User's Username</label>
                <input class="form-control" type="text" name="username" id="username" placeholder="Username..." required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="image">Image URL</label>
                <input class="form-control" type="text" name="image" id="image" placeholder="URL...">
            </div>        
            
            <div class="mb-3">
                <label class="form-label" for="bio">User's</label>
                <textarea class="form-control" type="text" name="bio" id="bio" placeholder="Bio..." required></textarea>
            </div>

            <div class="mb-3">
                <button class="btn btn-success">Submit</button>
            </div>
        </form>
        <a href="/campgrounds">All Users</a>
    </div>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.validated-form')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
</script>