<%layout('layouts/boilerplate')%> 
<form action="/users" method="POST">
    <label for="firstName">User's First Name</label>
    <input type="text" name="firstName" id="firstName" placeholder="First name...">

    <label for="lastName">User's Last Name</label>
    <input type="text" name="lastName" id="lastName" placeholder="Last name...">

    <label for="username">User's Username</label>
    <input type="text" name="username" id="username" placeholder="Username...">

    <button>Submit</button>
</form>
<a href="/campgrounds">All Users</a>